<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download Files</title>
    <link rel="stylesheet" href="./styles2.css">
    <link rel="stylesheet" href="nav_styles.css">
</head>
<body>



    <header>


        <div id="logo_bar">
            <img src="logo.png" alt="logo" class="image2">
            <div id="title">
                <h1>Sean's Homework Submission Portal</h1> 
                <h2>作业提交门户</h2> 

            </div>
            
        </div>
       
        <nav>
            <ul>
                <li id="homeLink"><a href="index.html">Home</a></li>
                <li id="loginLink"><a href="./login.html" >Login 登录</a></li>
                <li id="signupLink"><a href="./signup.html" >Sign up 下载文件</a></li>
                <li id="logoutButton">Logout 注销</li>
                <li id="courseManagementLink" style="display: none;"><a href="./course_management.html">Course Management</a></li>
                <li id="myCoursesLink" style="display: none;"><a href="./my_courses.html">My Courses</a></li>
                <li id="allCourses"><a href="./all_courses.html">View All Courses</a></li>

                <li id="profileLink"><a href="./profile.html">Profile</a></li>
            </ul>
            


            <h2 id="userGreeting">Welcome</h2>
        </nav>

        <h1>Download File</h1>
    </header>
    


    <section>
        <h1 id="heading">Available Files</h1>

        <div class="fileListHeadings">
            <h3>File Name</h3>
            <h3>User</h3>
            <h3>Date</h3>
            <h3>Course</h3>
        </div>
        <ul id="fileList"></ul>
    </section>
    

    <script>

        function getCookie(name) {

        let cookie = {};
        document.cookie.split(';').forEach(function(el) {
            let [key, value] = el.split('=');
            cookie[key.trim()] = value;
        });
        return cookie[name];
        }



        document.addEventListener('DOMContentLoaded', function() {

        const username = getCookie('username');
        if (username) {

            document.getElementById('heading').textContent = `Available Files for ${username}:`;
            
        } 
        });


        

        async function fetchFiles() {
            try {
                const response = await fetch('/files');
                const files = await response.json();
                const list = document.getElementById('fileList');
                files.forEach(file => {
                    const item = document.createElement('li');
                    const link = document.createElement('a');
                    link.href = `/download/${file._id}`;
                    link.textContent = file.fileName;
                    link.download = file.fileName; // Suggests a filename for download



                    const username_element = document.createElement('p');
                    username_element.textContent = file.username;

                    const date_element = document.createElement('p');
                    date_element.textContent = file.uploadedDate;

                    const course_element = document.createElement('p');
                    course_element.textContent = file.course;

                    item.appendChild(link);
                    item.appendChild(username_element);
                    item.appendChild(date_element);
                    item.appendChild(course_element);
                    list.appendChild(item);
                });
                                
            } catch (error) {
                console.error('Failed to fetch files: ', error);
            }
        }

        fetchFiles();


            



        document.addEventListener('DOMContentLoaded', function() {

        const username = getCookie('username');

        const role = getCookie('role')


        if (username) {

            document.getElementById('userGreeting').textContent = `Welcome, ${username}!`;
            document.getElementById('loginLink').style.display = 'none';
            document.getElementById('signupLink').style.display = 'none';
            document.getElementById('myCoursesLink').style.display = 'block';


            // Update the profile link to include the username
            document.querySelector('#profileLink a').href = `./profile.html?userID=${username}`;

            if (role === 'teacher') {
                document.getElementById('courseManagementLink').style.display = 'block';
            }

        } else {
            document.getElementById('userGreeting').style.display = 'none';
            document.getElementById('profileLink').style.display = 'none';
            document.getElementById('logoutButton').style.display = 'none';
        }
        });
    </script>
</body>
</html>