body {

    font-family: monospace, sans-serif;

    background-color: #CBEEF4;
}




section {

    background-color: tomato;

    color: aliceblue;
}



.fileListHeadings {


    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


li {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}